---
layout: layouts/base.njk
title: Haku
searchUI: true
eleventyExcludeFromCollections: true
---
<h1>Haku</h1>
<pagefind-config bundle-path="/pagefind/" excerpt-length="30"></pagefind-config>
<pagefind-searchbox autofocus></pagefind-searchbox>
